<%- partial('_partial/head') %>
<body class="lock-screen">
  <%- partial('_partial/common/loading') %>
  <%- partial('_partial/navbar') %>
  <%- partial('_partial/menu') %>
  <%- body %>
  <%- partial('_partial/footer') %>
  <% if (theme.fab.enable) { %>
    <%- partial('_partial/common/fab') %>
  <% } %>
  <!-- 页面点击小红心 -->
  <script type="text/javascript" src="/js/loveclick.js"></script>
</body>
<%- partial('_partial/script') %>
</html>
