<aside class="post-widget">
  <nav id="toc" class="toc-article fixed">
	<strong class="toc-title">文章目录</strong>
	  <%- toc(page.content, {
	    class: 'post-toc',
		list_number: false,
        max_depth: '6',
	    min_depth: '1'}) %>
	</nav>
</aside>

<article class="article">
  <div class="wrap">
    <%- partial('_partial/post/head') %>
    <section class="main">
      <section class="content">
        <%- page.more %>
      </section>
      <section class="extra">
        <% if (theme.post_copyright.enable && page.copyright !== false) { %>
        <%- partial('_partial/post/copyright') %>
        <% } %>
        <% if (theme.donate.enable) { %>
        <%- partial('_partial/post/donate') %>
        <% } %>
        <%- partial('_partial/post/tag') %>
        <%- partial('_partial/post/nav') %>
      </section>
      <% if (theme.comments.enable) { %>
      <%- partial('_partial/post/comments') %>
      <% } %>
    </section>
  </div>
</article>