<footer class="footer">
  <div class="footer-social">
    <% for (var i in theme.social) { %>
    <% var arr = theme.social[i].split('||') %>
    <% var url = arr[0] %>
    <% var iconfont = arr[1] %>
    <% var color = arr[2] || "'"+theme.color.link+"'" %>
    <a href="<%- url %>" target="_blank" onMouseOver="this.style.color=<%- color %>"
      onMouseOut="this.style.color='<%= theme.color.default %>'">
      <i class="iconfont footer-social-item <%- iconfont %>"></i>
    </a>
    <% } %>
  </div>
  <div class="footer-copyright">
    <%- theme.copyright %>
	<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <span id="busuanzi_container_site_pv">
	  总浏览量：<span id="busuanzi_value_site_pv" style="font-size:12px;"></span> 次
	</span>
    <span id="busuanzi_container_site_uv" >
	  总访客数：<span id="busuanzi_value_site_uv" style="font-size:12px;"></span>人
	</span>
  </div>

</footer>